body {
    background: rgb(125,218,4);
    background: linear-gradient(0deg, rgba(125,218,4,1) 0%, rgba(181,218,4,1) 17%, rgba(202,218,4,1) 100%);
}
#checkPage {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 4px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

#checkPage:hover {
    background-color: #008CBA; /* Green */
    color: white;
}